<% provide(:title, 'o.house') %>
<div class="house1">
  <%= image_tag "house1.svg" %>
  <h1 class="tagline">Make housing registration easier.</h1>
  <p class="tag">Click <%= link_to "here", search_path %> to start searching or <%= link_to "here", signup_path %> to create an account.</p>
</div>