<%= gravatar_for @user, :size => 100  %>
<h1><%= @user.name %></h1>
<p>
  Message | Edit Profile | View Favorites
</p>

<p>
  Here are all of the user's reviews (view, delete, etc depending on permissions)
</p>

