@import "bootstrap";
@import "colors";
@import "fonts";

/* mixins and variables */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sitewide */

body {
  padding: 0;
  margin: 0;
  background-color: $background !important;
}

/* header */
.navbar-inverse {
  .navbar-nav > li > a {
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 5px;
  }
}

.navbar-brand {
  margin-left: 15px;
  font-weight: bold;
  font-family: 'Pacifico';
  font-size: 30px !important;
  color: $logo !important;
}

/* homepage styling */
.tagline {
  text-align: center;
  margin-top: 0px;
}

.container {
    .tag {
      text-align: center;
    }
}

.house1 {
  text-align: center;
  margin-top: 100px;
}

/* house picture styles */
.house-icon {
  width: 100px;
  height: 100px;
  float: left;
  display: block;
  position: relative;
  padding: 5px;
}

/* displaying search results */
.panel-default {
  overflow: auto;
  .panel-body {
    padding: 10px;
  }
}

/* house hub styling */
.house-hub {
  .pictures {
    display: block;
    clear: both;
    .dummy-picture {
      width: 150px;
      height: 150px;
      background-color: #cbd4e1;
      display: block;
      margin: 10px;
      float: left;
      @media (max-width: 600px) {
        width: 100px;
        height: 100px;
      }
    }
    .picture-buttons {
      text-align: right;
      padding: 30px;
      clear: both;
    }
  }


  .house-title {
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.25em !important;
    font-weight: bold;
  }
  .room-stats {
    display: block;
    clear: both;
    ul {
      width: 30em;
      padding-bottom: 50px;
      li {
        float: left;
        width: 10em;
        margin-right: 20px;
      }
      br {
        clear: left;
      }
    }
  }
    .house-full {
      width: 35%;
      height: 35%;
      float: right;
    }
  .reviews {
    .review-buttons {
      padding: 30px;
      text-align: right;
    }
  }
}

/* signup form styling */

#signup-form, #signin-form {
  width: 50%;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px !important;
    margin-bottom: 15px !important;
    @include box_sizing;
  }
  .btn-primary {
    border: 0;
    width: 300px;
    text-align: center;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    width: 90%;
  }
}

/* errors styling */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .error;
}

/* reviews */

#review-form {
  position: relative;
  padding: 10px;
  .title-wrap {
    float: left;
  }
  .title {
     width: 200px;
  }
  span.glyphicon-star-empty, span.glyphicon-star {
    font-size: 2em;
    span.rate {
      font-size: 0.5em;
      display: none;
    }
  }
  .rev-stars {
    margin-left: 300px;
  }
  .sub {
    width: 200px;
  }
}

/* search styling */

.amenities > label {
  font-weight: normal;
  font-size: 12pt;
}

.locations {
  .form-control {
    width: 200px;
  }
  label{
    font-size: 12pt;
    float: left;
    padding-right: 45px;
  }
}
.residents {
  label{
    display: inline-block;
    font-size: 12pt;
    padding-right: 20px;
  }

  .form-control {
    display: inline-block;
    width: 60px;
    margin-right: 20px;
  }
}

.selected-params {
  // TODO: Use js to show the user their search params.
  // Additionally, populating an array of params to pass to the search
  // method will probably make this cleaner and be the best way to approach it.
  // alternatively, making search a resource?
  display: none;
}

#search-box {
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  #go {
    margin: 0 auto;
    width: 100px !important;
  }
}

/* user page styling */
.gravatar {
  float: left;
  margin-right: 15px;
}