@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

body {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  margin-left: 15px;
}

.tagline {
  text-align: center;
  margin-top: 200px;
}

.container {
    .tag {
      text-align: center;
    }
}

.house-icon {
  width: 100px;
  height: 100px;
  float: left;
  display: block;
  position: relative;
  padding: 5px;
}

.panel-default {
  overflow: auto;
  .panel-body {
    padding: 10px;
  }
}