<header class="navbar navbar-default navbar-static-top" role="banner">
    <div class="container">

        <!-- Group brand and toggle together -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">ohouse</a>
        </div>

        <!-- Links, forms, and other content t.b. toggled -->
        <nav class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="#">Sign In</a></li>
            <li><%= link_to "About", about_path %></li>
            <li><a href="#">Register</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search">
            </div>
            <button type="submit" class="btn btn-default" id="srch-btn">Go!</button>
          </form>
        </nav>
        <!-- End collapsible portion. -->

    </div>
</header>